<a href="https://colab.research.google.com/github/MuhammadZaeem500/Python-Course/blob/main/Class-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("My name is Zaeem Sheikh S/O Muhmmad Asif and Ayesha Asif.")
print ("My age is 21 years.")
Age = 73
print ("Father's Age :" , Age)
University = "University of Management and Technology"
print ( "University :", University)
type(University)

My name is Zaeem Sheikh S/O Muhmmad Asif and Ayesha Asif.
My age is 21 years.
Father's Age : 73
University : University of Management and Technology

str

In [ ]:
FatherName = "Muhammad Asif"
print ("Father's Name" , FatherName)
FatherName = input()
print ("Father's Name" , FatherName)
MotherName = input()
print ("Mother's Name" , MotherName)

Father's Name Muhammad Asif
Muhammad Asif
Father's Name Muhammad Asif
Ayesha Asif
Mother's Name Ayesha Asif
61
Age :  61

str

In [ ]:
Age = int( input("Enter Age : "))
print( "Age : ", Age)
type(Age)

Enter Age : 61
Age :  61

int

In [ ]:
Price = float(input ("Enter Price Value : "))
print(Price)
type(Price)

Enter Price Value : 90
90.0

float