<a href="https://colab.research.google.com/github/MuhammadZaeem500/Python-Course/blob/main/Class-5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [2]:
a = 5
b = 10
print (a+b)

13

In [4]:
name = "Zaeem"
age = 20
print(f"Hello {name}, you are {age} years old.")

Hello Zaeem, you are 20 years old.

In [5]:
num = 7
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [6]:
fruits = ["Apple", "Banana", "Mango", "Orange", "Grapes"]
print(fruits[0])
print(fruits[-1])

Apple
Grapes

In [7]:
x = 10
y = 20
x, y = y, x
print("x =", x, "y =", y)

x = 20 y = 10

In [8]:
num = 6
print(num ** 2)

36

In [9]:
fruits = ["apple", "banana", "apple", "orange", "apple", "mango"]
print(fruits.count("apple"))

3

In [10]:
text = "Python"
print(len(text))

6

In [11]:
numbers = [12, 45, 7, 89, 34]
print(max(numbers))

89