<a href="https://colab.research.google.com/github/MuhammadZaeem500/Python-Course/blob/main/Class-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
print("Hello, Python")

Hello, Python

In [ ]:
name = (input("Enter Your Name : "))
print("Hello , ", name,"!")

In [8]:
num_1 = int (input("Enter First Number :"))
num_2 = int(input("Enter Second Number :"))
sum = num_1 + num_2
print("The Sum is : = ", sum )

Enter First Number :1
Enter Second Number :2
The Sum is : =  3

In [12]:
num_1 = int (input("Enter First Number :"))
num_2 = int(input("Enter Second Number :"))
sub = num_1 - num_2
print("The difference is : = ", sub )

Enter First Number :3
Enter Second Number :-2
The difference is : =  5

In [13]:
name = " Muhammad Zaeem "
print(name)
type(name)

 Muhammad Zaeem

str

In [15]:
num_1 = float (input("Enter First Number : "))
num_2 = float (input("Enter Second Number : "))
print("The difference is : = ", num_1 * num_2  )

Enter First Number :9.0
Enter Second Number :1.8
The difference is : =  16.2

In [22]:
string = "123"
print(type(string))
integer = int(string)
type(integer)

<class 'str'>

int

In [24]:
integer = int ("123")
print(type(integer))
string = str (integer)
type(string)

<class 'int'>

str

In [25]:
num_1 = float (input("Enter First Number : "))
num_2 = float (input("Enter Second Number : "))
print("The divison is : = ", num_1 / num_2  )

Enter First Number : 10
Enter Second Number : 5.2
The divison is : =  1.923076923076923

In [26]:
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

1
2
3