<a href="https://colab.research.google.com/github/MuhammadZaeem500/Python-Course/blob/main/Practice-Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello Zaeem, you are 21 years old!")

Hello Zaeem, you are 21 years old!

In [9]:
Num1 = int(input("Enter the First Number: "))
Num2 = int(input("Enter the Second Number: "))
print( "The sum is:",Num1 + Num2)
print( "The difference is:",Num1 - Num2)
print( "The product is:",Num1 * Num2)
print( "The division is:",Num1 / Num2)

Enter the First Number: 6
Enter the Second Number: 3
The sum is: 9
The difference is: 3
The product is: 18
The division is: 2.0

In [12]:
Num1 = int(input("Enter the Number: "))
print( "The square is:",Num1 * Num1)
print( "The cube is:",Num1 * Num1 * Num1)

Enter the Number: 10
The square is: 100
The cube is: 1000

In [15]:
Temperature = input("Enter the temperature in Farenheit: ")
Celsius = (int(Temperature) - 32) * 5/9
print("The temperature in Celsius is:",Celsius)

Enter the Temperature in Farenheit: 65
The Temperature in Celsius is: 18.333333333333332

In [16]:
Height = float(input("Enter the height: "))
Weight = float(input("Enter the weight: "))
BMI = Weight / (Height * Height)
print("The BMI is:",BMI)

Enter the height: 6
Enter the weight: 6
The BMI is: 0.16666666666666666

In [18]:
FirstName = input( " Enter your first name: ")
LastName = input( " Enter your last name: ")
print( "The full name is",FirstName,LastName)

 Enter your first name: Zaeem
 Enter your last name: Sheikh
The full name is Zaeem Sheikh

In [20]:
Num = input("Enter the number: ")
if int(Num) % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

Enter the number: 11
The number is odd

In [23]:
String1 = input("Enter the first string: ")
String2 = input("Enter the second string: ")
print("the concatenated string is ",String1,String2)

Enter the first string: My name is Zaeem
Enter the second string: Sheikh
the concatenated string is  My name is Zaeem Sheikh

In [24]:
String = input("Enter the string: ")
print("The length of the string is",len(String))

Enter the string: My name is Zaeem
The length of the string is 16

In [37]:
Num = int(input("Enter the number: "))
print("The last digit of the number is", Num % 10)

Enter the number: 9
The last digit of the number is 9